# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform backup files
*.backup

# Ignore Terraform provider plugins
.terraform/

# Ignore crash logs
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .terraform.lock.hcl file
.terraform.lock.hcl

# Ignore .DS_Store files (common on macOS)
.DS_Store

# Ignore any log files
*.log

# Ignore unnecessary files in the terraform/.terraform directory
terraform/.terraform/

# Ignore large executables or binary files
*.exe

# Ignore any file that might contain sensitive information
*.tfvars

# Ignore IDE-specific files
.idea/
.vscode/
*.swp

# Ignore any OS-specific files
Thumbs.db
